[[def: complementary-integrity-verification, complementary integrity verification]]

~ Spec-Up-T link: <a href='https://weboftrust.github.io/WOT-terms/docs/glossary/complementary-integrity-verification'>here</a>

~ More in <a href="https://weboftrust.github.io/WOT-terms/docs/glossary/complementary-integrity-verification">extended KERI glossary</a>
