[[def: verification, verification]]

~ Spec-Up-T link: <a href='https://weboftrust.github.io/WOT-terms/docs/glossary/verification'>here</a>

~ More in <a href="https://weboftrust.github.io/WOT-terms/docs/glossary/verification">extended KERI glossary</a>
